<% layout('layouts/boilerplate')%>
<h1>Log In</h1>
<form action="/user/login" method="post">
    <input type="text" name="user" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>log in</button>
</form>